<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 注册要创建的对象 -->


    <!--  扫描文件(自动将service层注入)-->
    <context:component-scan base-package="org.bms.service"/>

    <!--整合 mybatis -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/BMS"></property>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>
    <!-- 注入一个mybaits的sqlSessionFactory工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--加载配置文件-->
        <property name="configLocation" value="classpath:config.xml"></property>
        <property name="mapperLocations" value="classpath:org/bms/mapper/*.xml"></property>

    </bean>
    <!-- 创建一个数据映射器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.bms.dao"></property>
    </bean>
    <!--事务管理器-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <bean id="userServices" class="org.bms.service.impl.UserServiceImpl">
        <property name="userDao" ref="IUserDao">
        </property>
    </bean>
    <bean id="loginAction" class="org.bms.action.UserAction" scope="prototype">
        <property name="userService" ref="userServices"></property>
    </bean>
    <!--创建一个service对象-->
    <bean id="bookServices" class="org.bms.service.impl.BookServiceImpl">
        <property name="bookDao" ref="IBookDao"></property>
    </bean>
    <!--创建一个action对象-->

    <bean id="bookList" class="org.bms.action.BookListAction" scope="prototype">
        <property name="bookService" ref="bookServices"></property>
    </bean>

    <bean id="bookDetail" class="org.bms.action.BookDetailAction" scope="prototype">
        <property name="bookService" ref="bookServices"></property>
    </bean>
    <bean id="bookAdd" class="org.bms.action.BookAddAction" scope="prototype">
        <property name="bookService" ref="bookServices"></property>
    </bean>
    <bean id="delBook" class="org.bms.action.BookDelAction" scope="prototype">
        <property name="bookService" ref="bookServices"></property>
    </bean>
    <bean id="checkBook" class="org.bms.action.CheckBookAction" scope="prototype">
        <property name="bookService" ref="bookServices"></property>
    </bean>

</beans>