<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>

        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!-- 设置别名-->
    <typeAliases>
        <typeAlias alias="UserBean" type="org.bms.bean.UserBean"/>
    </typeAliases>
        <!--<typeAlias alias="BookBean" type="org.bms.bean.BookBean"/>-->

    <environments default="development">
        <environment id="development">
            <!-- 默认使用jdbc的事务来提交 -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/BMS"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/bms/mapper/UserMapper.xml"/>
        <mapper resource="org/bms/mapper/BookMapper.xml"/>
    </mappers>
</configuration>